<mat-toolbar class="clr">
  <div class="main">
    <div class="left">
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="app">
        <!-- <span >My App</span> -->
        <img src="../../assets/sbi_head_logo.webp" alt="" class="sub_logo" />
      </div>

      <span class="example-spacer"></span>
    </div>
    <div class="right">
      
      <!-- <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button> -->
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        
      >
        <mat-icon class="menu">menu</mat-icon>
      </button>
      <div class="out_btn">
        <button mat-flat-button class="clr_btn" (click)="out()">Logout</button>
      </div>
    </div>
  </div>
</mat-toolbar>
