<mat-toolbar class="clr">
  <div class="main">
    <div class="left">
      <div class="app">
        <!-- <span >My App</span> -->
        <img src="../../assets/sbi_head_logo.webp" alt="" class="sub_logo" />
      </div>

      <span class="example-spacer"></span>
    </div>
    <div>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon class="menu menu_left">menu</mat-icon>
      </button>
    </div>

    <div class="right">
      <div class="menu_l">
        <button mat-button [matMenuTriggerFor]="menu" class="abc">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
            class="home"
          ></mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="inner_logo">
          <!-- <button mat-menu-item>Item 1</button> -->
          <button mat-menu-item class="clr_btn" (click)="out()">Logout</button>
        </mat-menu>
      </div>

      <!-- <div class="out_btn">
        <button mat-flat-button class="clr_btn" (click)="out()">Logout</button>
      </div> -->
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    [mode]="drawerMode"
    [opened]="drawerOpened"
    [ngStyle]="toggleClose"
  >
    <div>
      <div class="dashRout" routerLink="/admin/dashboard">
        <span><i class="fa-solid fa-house"></i></span>
        <span style="margin-top: 20rem !important;" class="name">Dashboard</span>
      </div>
      <div class="dashRout" routerLink="/admin/usermanagment">
        <span><i class="fa-regular fa-user"></i></span>
        <span class="name">User Mangement</span>
      </div>
      <div class="dashRout" routerLink="/admin/devicelist">
        <span><i class="fa-solid fa-mobile"></i></span>
        <span class="name">Device List</span>
      </div>
      <div class="dashRout" routerLink="/admin/inventory">
        <span><i class="fa-solid fa-warehouse"></i></span>
        <span class="name">Inventory Status</span>
      </div>
      <div class="dashRout" routerLink="/admin/devicedelivery">
        <span><i class="fa-solid fa-truck"></i></span>
        <span class="name">Device Delivery Status</span>
      </div>
      <div class="dashRout" routerLink="/admin/reports">
        <span><i class="fa-brands fa-instagram"></i></span>
        <span class="name">Reports</span>
      </div>
      <div class="dashRout">
        <span><i class="fa-solid fa-bars"></i></span>
        <span class="name">TMS</span>
      </div>
      <div class="dashRout" routerLink="/admin/helpSuppert">
        <span><i class="fa-solid fa-handshake-angle"></i></span>
        <span class="name">Help & Suppert</span>
      </div>
      <div class="dashRout" routerLink="/admin/notification">
        <span><i class="fa-solid fa-circle-exclamation"></i></span>
        <span class="name">Notification Center</span>
      </div>
    </div>
  </mat-drawer>

  <!-- Content -->
  <div class="example-sidenav-content">
   
<router-outlet></router-outlet>
    <!-- Rest of your content here -->
  </div>
</mat-drawer-container>





