.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
   
}
.card_container{
padding: 3rem;
text-align: center;
padding: 0 40px;
width: 25rem;
}

.card_container h1{
    font-weight: 500;
    font-size: x-large;
}
.log_img{
    width: 100px;
    height: inherit;
}